@mixin buttonMixin($bg-color: $light-green-color) {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: $bg-color;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: $dark-green-color;
  }
}
@mixin font-family-barber {
  font-family: Barber, sans-serif;
}

@mixin hrMixin($bg-color: $light-green-color) {
  border: none;
  height: 1vh;
  width: 8vw;
  background-color: $bg-color;
}
@mixin h1Mixin {
  font-size: 24px;
  font-family: "Satisfy", cursive;
  color: $dark-green-color;
  margin-bottom: 20px;
}

@mixin flex-container($justify-content: center) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: $justify-content;
}
