@import "variables";
@import "mixins";
.section2,
.section3,
.section4,
.section5,
.section6,
.section7,
.section8 {
  overflow-x: hidden;
  max-width: 100%;
}

@font-face {
  font-family: Satisfy;
  src: url(./images/Satisfy-Regular.ttf);
}
nav {
  color: black;
}
.logo-nav {
  width: 8vh;
  height: 8vh;

  mix-blend-mode: multiply;
}

.section1 {
  .Fondo {
    background-image: url("./images/andrew-ridley-jR4Zf-riEjI-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .int-Fondo {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: rgba(255, 255, 255, 0.511);
      height: 60vh;
      width: 40vw;
      padding: 3vh 9vw;
      border-radius: 5%;

      .logo-fondo {
        mix-blend-mode: multiply;
      }
      .tituloFondo {
        @include h1Mixin;
        color: black !important;
        font-size: 85px !important;
      }
      .pFondo {
        text-align: center;
        font-family: Satisfy;
        font-size: 20px;
      }
      .hrFondo {
        @include hrMixin;
        width: 15vw;
      }
    }
  }
}

.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5vh 10vw 10vh 10vw;

  .hr-section2 {
    border: none;
    @include hrMixin;
    width: 15vh;
  }
}

.section3 {
  .categoria-section3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7vh 0 7vh 0;
  }
  .titulo-section3 {
    color: $light-green-color;
  }
}

.section4 {
  .verde-oscuro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    background-color: $light-green-color;

    padding: 0 3.5vw 0 3.5vw;
    .titulo-section4 {
      color: $white-color;
    }
    .hr-section4 {
      border: none;
      background-color: $secondary-color !important;
      width: 12vh;
      height: 1vh;
      @include hrMixin;
    }
    .p-section4 {
      text-align: center;
      justify-content: center;
      margin: 2vh 0 2vh 0;
      color: $white-color;
    }
    .b-section4 {
      height: 5vh;
      width: 10vw;
      border-radius: 10%;
      border: none;
      background-color: $secondary-color !important;
      color: $white-color;
      @include buttonMixin;
    }
  }

  .box {
    background-color: $dark-green-color;
    height: 50vh;
    position: relative;
    padding: 3vh 3vw 3vh 3vw;
  }
  .top-left {
    position: absolute;
    top: 10px;
    left: 10px;
    border-left: 10px solid $secondary-color;
    border-top: 10px solid $secondary-color;
    height: 120px;
    width: 120px;
  }

  .bottom-right {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-bottom: 10px solid $secondary-color;
    border-right: 10px solid $secondary-color;
    height: 120px;
    width: 120px;
  }

  img {
    width: 35vw;
    height: 45vh;
  }
}

.section5 {
  .div-izq {
    height: 50vh;
    padding: 10vh 10vh;
    .hr-section5 {
      border: none;
      background-color: $light-green-color;
      width: 12vh;
      height: 1vh;
      @include hrMixin;
    }
    .b-section5 {
      margin-top: 6vh;
      background-color: $secondary-color;
      height: 5vh;
      width: 8vw;
      border-radius: 10%;
      border: none;
      @include buttonMixin;
    }
    .p-section6 {
      color: $white-color;
    }
  }
  .div-der {
    background-image: url("./images/rika-digital-eMw3s_Zi4Us-unsplash.jpg");
    background-position: center center;
    background-size: cover;
  }
}

.section6 {
  .d-izq {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: $light-green-color;

    height: 45vh;

    .hr-section6 {
      margin-bottom: 50px;
      border: none;
      background-color: $secondary-color !important;
      width: 12vh;
      height: 1vh;
      @include hrMixin;
    }
    .titulo-section6 {
      color: $white-color;
    }
    .p-section6 {
      color: $white-color;
    }
  }

  .d-der {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: $dark-green-color;
    height: 45vh;

    .hr-section6 {
      margin-bottom: 50px;
      border: none;
      background-color: $secondary-color !important;
      width: 12vh;
      height: 1vh;
      @include hrMixin;
    }
    .titulo-section6 {
      color: $white-color;
    }
    .p-section6 {
      color: $white-color;
    }
    .b-section6 {
      height: 5vh;
      width: 6vw;
      border-radius: 10%;
      border: none;
      background-color: $secondary-color !important;
      @include buttonMixin;
    }
  }
}

.section7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5vh 0 0 0;

  .hr-section7 {
    border: none;
    background-color: $secondary-color;
    width: 12vh;
    height: 1vh;
    @include hrMixin;
  }
}

.section8 {
  img {
    height: 30vh;
    width: 15vw;
  }
}

footer {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 20vh;
  background-color: $dark-green-color;

  .titulo-footer {
    font-size: 14px;
    color: $white-color;
  }

  .hr-footer {
    @include hrMixin($secondary-color);
    width: 15vh;
  }
  .logos-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;

    img {
      height: 2vh;
      width: 3vh;
      filter: invert(100%);
    }
  }
}

@media (max-width: 768px) {
  button {
    width: 25vw !important;
    height: 6vh !important;
  }
  .logo-nav {
    margin-right: 50vw;
  }
  .section1 {
    .int-Fondo {
      height: 65vh !important;
      width: 65vw !important;
    }
    .logo-fondo {
      width: 20vw;
      height: 15vh;
    }
    .pFondo {
      text-align: center;
      font-family: Satisfy;
      font-size: 16px;
    }
  }
  .section8 {
    img {
      width: 50vw;
    }
    .img-tablet {
      margin-top: 5vh;
    }
  }
}

@media (max-width: 576px) {
  button {
    width: 25vw !important;
    height: 6vh !important;
  }
  .logo-nav {
    margin-right: 50vw;
  }
  .section1 {
    .int-Fondo {
      height: 65vh !important;
      width: 65vw !important;
    }
    .logo-fondo {
      width: 20vw;
      height: 12vh;
    }
    .pFondo {
      text-align: center;
      font-family: Satisfy;
      font-size: 16px;
    }
  }
  .section4 {
    img {
      padding: 2vh;
      width: 90vw;
    }
  }

  .section6 {
    .titulo-section6 {
      margin-top: 5vh;
    }
  }

  .section8 {
    img {
      width: 50vw;
      height: 70vh;
      gap: 3vh;
      margin-left: 20vw;
    }
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .titulo-footer {
      font-size: 18px;
    }
    img {
      height: 5vh !important;
      width: 5vw !important;
    }
  }
}
