$color-primary: #789bc5;
$color-secondary: #44307a;
$color-accent: #7145d6;
$color-accent-light: #f55dae;
$color-text: #554386;
$color-text-light: #a097bd;
$color-background: #f7f7fc;
$color-footer: #7145d6;
$color-footer-p: #b59ee9;
