@font-face {
  font-family: Cabify-Font;
  src: url(../Poppins-Regular.ttf);
}
body {
  overflow-x: hidden;
}

nav .nav-left {
  margin-left: 30vh;
}
nav .nav-right {
  margin-left: 20vw;
}
nav span {
  margin-right: 1vw;
  font-size: 1rem;
}
nav a {
  font-family: Cabify-Font;
  color: #44307a !important;
  text-decoration: none;
}

.section1 {
  margin-top: 3vh;
}
.section1 h1 {
  font-size: 3.125rem;
  font-weight: bold;
}
.section1 h4 {
  font-size: 20px;
}
.section1 a {
  text-decoration: none;
}
.section1 img {
  width: 40vw;
  height: auto;
}
.section1 .content-section1 {
  font-family: Cabify-Font;
  color: #44307a;
}
.section1 .b-section1 {
  width: 12vw;
  background-color: #7145d6;
  border-radius: 12px;
  height: 6vh;
  font-weight: 700;
  color: white;
  border: none;
}
.section1 .a-section1 {
  color: #7145d6;
  font-size: 1.25rem;
}

.section2 {
  background-color: #f7f7fc;
  height: 100vh;
  margin-top: 3vh;
}
.section2 img {
  height: 35px;
}
.section2 h2 {
  font-family: Cabify-Font;
  color: #44307a;
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: 0.8vw;
}
.section2 p {
  font-family: Cabify-Font;
  color: #554386;
  margin-bottom: 4.5vh;
  margin-left: 3.5vw;
}
.section2 .title-section2 {
  color: #a097bd;
  font-weight: bold;
  margin-top: 5vh;
}
.section2 .img-section2 {
  margin-top: 10vh;
  width: 30vw;
  height: 75vh;
}
.section2 .image-with-text {
  display: flex;
  align-items: center;
}
.section2 .image-with-text img {
  margin-right: 10px;
}
.section2 .logo-download {
  width: 15vw;
  height: 5vh;
  margin-left: 3vw;
}
.section2 .a-section2 {
  color: #44307a;
}

.section3 {
  margin-top: 8vh;
}
.section3 img {
  width: 35vw;
  height: 45vh;
}
.section3 h2 {
  font-family: Cabify-Font;
  color: #44307a;
  font-weight: bold;
}
.section3 p {
  font-family: Cabify-Font;
  color: #44307a;
  font-size: 1.125rem;
}
.section3 .title-section3 {
  color: #a097bd;
  font-weight: bold;
}
.section3 .a-section3 {
  color: #7145d6;
  font-weight: bold;
}

.section4 {
  margin-top: 15vh;
}
.section4 h2 {
  font-family: Cabify-Font;
  color: #44307a;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 2vh;
}
.section4 p {
  font-family: Cabify-Font;
  color: #554386;
  font-size: 1.13rem;
  margin-bottom: 4vh;
  font-weight: bold;
}

.section5 {
  margin-bottom: 12vh;
}
.section5 h4,
.section5 p {
  font-family: Cabify-Font;
  color: #44307a;
  font-weight: bold;
}

footer {
  height: 100vh;
  background-color: #7145d6;
}
footer .text-footer {
  margin-top: 15vh;
}
footer .text-footer h2 {
  color: white;
  font-weight: bold;
  margin-bottom: 3vh;
}
footer .text-footer p {
  color: #b59ee9;
  font-size: 1.3rem;
  font-weight: bold;
}
footer .text-footer button {
  width: 12vw;
  background-color: #44307a;
  border-radius: 12px;
  height: 6vh;
  font-weight: 700;
  color: white;
  border: none;
}
footer .lists-footer .list {
  margin-top: 8vh;
  list-style-type: none;
  padding: 0;
}
footer .lists-footer .list .list-title {
  color: #b59ee9;
  font-weight: bold;
  margin-bottom: 1.5vh;
}
footer .lists-footer .list li {
  color: white;
  margin-bottom: 1.5vh;
  font-weight: bold;
}
footer .lists-footer .logo-download {
  width: 14vw;
}
footer .under-footer {
  margin-top: 5vh;
}
footer .under-footer .t-under-footer {
  color: #a097bd;
  font-weight: bold;
}
footer .under-footer .logos-footer img {
  margin-right: 20px;
  width: 20px;
  filter: invert(1);
}

@media (max-width: 576px) {
  nav {
    margin-left: 50vw;
  }
  .section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .section1 .b-section1 {
    width: 90vw;
  }
  .section1 img {
    margin-top: 3vh;
    width: 90vw;
  }
  .section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 2.5vw;
    background-color: white;
  }
  .section2 .img-section2 {
    margin-top: 75vh;
    margin-right: 2vw;
    width: 100vw;
  }
  .section2 .logo-download {
    visibility: hidden;
  }
  .section3 {
    margin-top: 60vh;
  }
  .section3 img {
    width: 100vw;
  }
  footer {
    height: 100%;
  }
  footer .text-footer button {
    width: 90vw;
  }
  footer .logo-download {
    width: 60vw !important;
  }
}/*# sourceMappingURL=style.css.map */